<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Red Carpet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h2 class="text-center mt-3">All Invitations</h2>

        <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Invite Date</th>
                <th scope="col">Invite By</th>

                <th scope="col">Active</th>
              </tr>
            </thead>
            <tbody>
                {% for i in data %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.invite_date}}</td>
                <td>{{i.invite_by}}</td>
                {% if i.is_active %}
                <td>Active</td>
                {% else %}
                <td>Not Active</td>
                {% endif %}
              </tr>
                {% endfor %}
            </tbody>
          </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>